[submodule "test/qunit"]
	path = test/qunit
	url = https://github.com/jquery/qunit.git
[submodule "src/external/domready"]
	path = src/external/domready
	url = git@github.com:freelancephp/DOMReady.git
[submodule "src/external/simpleselector"]
	path = src/external/simpleselector
	url = git@github.com:freelancephp/SimpleSelector.git
[submodule "src/external/simpleajax"]
	path = src/external/simpleajax
	url = git@github.com:freelancephp/SimpleAjax.git
